/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  border: none;
  font: inherit;
}

/* KEYFRAMES */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

/* BASE STYLES */
html {
  --accent-color: #555;
  --accent-color-dark: #555;

  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  /* max-width: 1500px; */
  font-family: 'Montserrat', sans-serif;
  color: #555;
  background-color: #EEEFF3;
  overflow-x: hidden;
  position: relative;
}
/* 
.bg {
  position: absolute;
  z-index: -1;
}
 */
/* HEADER */
/* .toplogo {
  display: block;
  height: 10px;
} */

.header {
  display: flex;
  justify-content:right; /* Positioned Right because of no logo */
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 5px;
  animation: fade-in 0.4s;
}


.nav {

}

.links {
  display: flex;
  column-gap: 45px;
}

.link-item {

}

.link {
  font-size: 14px;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.2s;
}

.link:hover {
  color: #555;
  font-size: 15px;
  font-weight: 800;
}

/* .link--btn {
  color: #fff;
  background-color: var(--accent-color);
  padding: 10px 18px;
  border-radius: 3px;
  transition: all 0.2s;
}

.link--btn:hover {
  background-color: var(--accent-color-dark);
}
 */
/* MAIN */
.main {
  display: flex;
  flex-direction: column;
  /* max-width: 1150px; */
  background-color: #fff;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 4px 44px rgba(0, 0, 0, 0.07);
  animation: fade-in 0.4s 0.1s backwards;
  overflow: hidden;
}

/* INTRO SECTION */
.intro-about {
  display: flex;
  background-color: whitesmoke;
  max-height: 100vh;
  justify-content:space-evenly;
  /* margin: 20px; */
}
.intro {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-around;
  align-self: flex-start;
  background-color: whitesmoke;
  padding-top: 20px;
  
}

/* .intro-about {
  background-color: #f3f5fa;
  padding-bottom: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
 */
.logo {
  display: block;
  height: 75px;
  margin: 20px;
}

.first-heading {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 1.5;
  max-width: 383px;
}

.second-heading {
  font-family: 'Forum';
  font-size: 30px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 1.2;
  max-width: 50%;
  text-align: center; 
}

/* .second-heading::after {
  content: '';
  height: 3px;
  width: 54px;
  display: block;
  background: var(--accent-color);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 10px;
} */

.introduction {
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 1.5;
  max-width: 383px;
  text-align: center;
}

.intro-btn {
  font-family: 'Forum';
  width: 25%;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
  border-radius: 10px;
  background: var(--accent-color);
  height: 61px;
  transition: all 0.2s;
}

.intro-btn:hover {
  cursor: pointer;
  background: var(--accent-color-dark);
}
/* .emphasis {
  font-style: italic;
  font-weight: 700;
  text-decoration: underline;
} */
/* 
.form {
  width: 383px;
  position: relative;
}

.input {
  height: 61px;
  width: 100%;
  padding-left: 53px;
  font-size: 17px;
  border-radius: 2px;
  margin-bottom: 12px;
}

.input-icon {
  font-size: 17px;
  color: #adb4c2;
  position: absolute;
}

.input-icon:nth-of-type(1) {
  top: 22px;
  left: 22px;
}

.input-icon:nth-of-type(2) {
  top: 95px;
  left: 22px;
}

.btn {
  width: 100%;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
  border-radius: 2px;
  background: var(--accent-color);
  height: 61px;
  transition: all 0.2s;
}

.btn:hover {
  cursor: pointer;
  background: var(--accent-color-dark);
}
 */

.photos {
  /* display: flex;  */
  max-width: 50%;
}

.photo {
  width: 100%;
  max-height: 100%;
}
/* 
.photo-2 {
  display: block;
} */

/* DESIGNER ABOUT */
.about {
  display: flex;
  background-color: whitesmoke;
  height: 100vh;
}

.about-photo {
  display: flex;
  max-width: 50%;
}
.designer-pic {
  margin-left: -200px;
}
.about-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: space-around;
  background-color: whitesmoke;
  padding-top: 20px;
}
.about-heading{
  font-family: 'Forum';
  font-size: 30px;
  font-weight: 400;
  margin: 20px;
  line-height: 1.1;
  max-width: 400px;
}
.about-intro {  
  font-size: 15px;
  font-weight: 400;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.5;
  /* max-width: 400px; */
}

.about-btn {
  font-family: 'Forum';
  width: 50%;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
  border-radius: 10px;
  background: var(--accent-color);
  height: 61px;
  transition: all 0.2s;
  margin: 20px;
}

.about-btn:hover {
  cursor: pointer;
  background: var(--accent-color-dark);
}
/* SERVICES */
.all-services {
  display: flex;
  background-color: whitesmoke;
  max-height: 100vh;
}

.services-intro {
  display: flex;
  background-color: whitesmoke;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  background-color: whitesmoke;
  padding-top: 20px;
}
.services-heading {
  font-size: 20px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 1.1;
  max-width: 383px;
}
.services-image {

}

.services {
  display: flex;
  background-color: whitesmoke;
  width: 50%;
  background-color: whitesmoke;
  padding-top: 20px;
}

.single-service {
  flex-direction: column;
  align-items: center;
  width: 100px;
  padding: 5px 0;
  border-bottom: 1px solid #f2f3f8;
}

.service-heading {
  font-size: 15px;
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 1.1;
}
.service-desc {
  font-size: 10px;
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 1.1;
}
.seen-text {
  font-size: 20px;
  font-weight: 500;
  color: #ccd0d9;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.credential {

}
/* CONTACT SECTION */
.contact {
  display: flex;
  background-color: whitesmoke;
  height: 100vh;
}
.contact-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: space-around;
  background-color: whitesmoke;
  padding-top: 20px;
}

.contact-heading{
  font-family: 'Forum';
  font-size: 30px;
  font-weight: 400;
  margin: 20px;
  line-height: 1.1;
  width: 50%;
}

.contact-phone-email-social {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact-text {
  font-size: 17px;
  font-weight: 400;
  max-width: 630px;
  opacity: 0.8;
  line-height: 1.4;
}

.text--bold {
  font-weight: 700;
}

.contact-hq-collab {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact-second-heading {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  line-height: 1.1;
  max-width: 383px;
  
}

.contact-second-text {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 1.1;
  max-width: 383px;
}

.contact-additional-text {
  font-size: 17px;
  font-weight: 400;
  margin: 30px;
  line-height: 1.1;
  width: 50%;
  
}
.contact-btn {
  font-family: 'Forum';
  width: 25%;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
  border-radius: 10px;
  background: var(--accent-color);
  height: 61px;
  transition: all 0.2s;
  margin-bottom: 50px;
}

.contact-btn:hover {
  cursor: pointer;
  background: var(--accent-color-dark);
}

.contact-photos {
  display: flex;
  max-width: 50%;
}

.contact-photo {
  width: 100%;
}

/* HOW SECTION */
.how {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 0 85px;
}

/* .second-heading {
  font-size: 32px;
  color: #292c33;
  text-transform: capitalize;
  font-weight: 500;
  position: relative;
}

 */

.steps {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 80px 0;
}

.step {
  max-width: 215px;
  text-align: center;
}

.step-icon {
  height: 65px;
  width: 65px;
  background: black;
  border-radius: 5000px;
  color: #fff;
  line-height: 65px;
  margin-bottom: 21px;
  font-size: 22px;
}

.step:nth-child(1) .step-icon {
  background-color: #fdf6de;
  color: #f5ca36;
}

.step:nth-child(2) .step-icon {
  background-color: #ffdeec;
  color: #da196a;
}

.step:nth-child(3) .step-icon {
  background-color: #e9e5ff;
  color: #4d31e4;
}

.third-heading {
  font-size: 23px;
  color: #3d4048;
  font-weight: 500;
  margin-bottom: 10px;
}

.text {
  color: #74777d;
  font-size: 18px;
}

.more {
  color: var(--accent-color);
  font-size: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--accent-color);
  transition: all 0.2s;
}

.more:hover {
  color: var(--accent-color-dark);
}

.more-icon {
  font-size: 14px;
  transition: all 0.2s;
}

.more:hover .more-icon {
  transform: translateX(3px);
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  color: #a1a4b0;
  padding: 0 25px;
  padding-bottom: 10px;
}

.copyright {
  font-size: 14px;
}

.legal-list {
  display: flex;
  column-gap: 35px;
}

.legal-item {

}

.legal-link {
  font-size: 14px;
  text-transform: capitalize;
}

/* MEDIA QUERIES */


@media (max-width: 600px) {
/*   .main {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
  }

  .credential:nth-of-type(2) {
    display: none;
  }

  .steps {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}

@media (max-width: 470px) {
 */
  /* MAIN */
.main {
  display: flex;
  flex-direction: column;
  /* max-width: 1150px; */
  background-color: #fff;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 4px 44px rgba(0, 0, 0, 0.07);
  animation: fade-in 0.4s 0.1s backwards;
  overflow: hidden;
}

/* INTRO SECTION */
.intro-about {
  display: flex;
  flex-direction: column-reverse;
  background-color: whitesmoke;
  max-height: none; 
  justify-content:space-evenly;
  padding-bottom: 20px;
  /* margin: 20px; */
}

.photos {
  /* display: flex;  */
  max-width: 100%;
  height: 50%;
}

.photo {

}

.intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-around;
  align-self: flex-start;
  background-color: whitesmoke;
  padding-top: 20px;
  
}

.logo {
  display: block;
  height: 75px;
  margin: 20px;
}

.first-heading {
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 1.2;
  text-align: center; 
}

.second-heading {
  font-family: 'Forum';
  font-size: 30px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 1.2;
  text-align: center; 
}

.introduction {
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 1.5;
  text-align: center;
}

.intro-btn {
  font-family: 'Forum';
  width: 25%;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
  border-radius: 10px;
  background: var(--accent-color);
  height: 61px;
  transition: all 0.2s;
}

.intro-btn:hover {
  cursor: pointer;
  background: var(--accent-color-dark);
}


/* DESIGNER ABOUT */
.about {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  height: 100%;
  /* height: 100vh; */
}

.about-photo {
  width: 100%;
  max-width: 100%;
}
.designer-pic {
  width: 100%;
  margin-left: 0px;
}
.about-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: whitesmoke;
  padding-top: 20px;
}
.about-heading{
  font-family: 'Forum';
  font-size: 30px;
  font-weight: 400;
  margin: 20px;
  line-height: 1.1;
  max-width: 400px;
}
.about-intro {  
  font-size: 15px;
  font-weight: 400;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.5;
  /* max-width: 400px; */
}

.about-btn {
  font-family: 'Forum';
  width: 50%;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
  border-radius: 10px;
  background: var(--accent-color);
  height: 61px;
  transition: all 0.2s;
  margin: 20px;
}

.about-btn:hover {
  cursor: pointer;
  background: var(--accent-color-dark);
}

/* CONTACT SECTION */
.contact {
  display: flex;
  flex-direction: column-reverse;
  background-color: whitesmoke;
  height: 100%;
}


.contact-photos {
  display: flex;
  max-width: 100%;
}

.contact-photo {
  width: 100%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: whitesmoke;
  padding-top: 20px;
}

.contact-heading{
  font-family: 'Forum';
  font-size: 20px;
  font-weight: 400;
  padding-left: 20px;
  line-height: 1.1;
  width: 100%;
}

.contact-phone-email-social {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10%;
}

.contact-text {
  font-size: 15px;
  font-weight: 400;
  max-width: 630px;
  opacity: 0.8;
  line-height: 1.4;
}

.text--bold {
  font-weight: 700;
}

.contact-hq-collab {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10%;
}

.contact-second-heading {
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  line-height: 1.1;
  max-width: 100%;
  
}

.contact-second-text {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 1.1;
  max-width: 100%;
}

.contact-additional-text {
  font-size: 15px;
  font-weight: 400;
  /* margin: 30px; */
  line-height: 1.1;
  width: 100%;
  margin-left: 10%;
  
}
.contact-btn {
  font-family: 'Forum';
  width: 50%;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
  border-radius: 10px;
  background: var(--accent-color);
  height: 61px;
  transition: all 0.2s;
  margin-bottom: 50px;
}

.contact-btn:hover {
  cursor: pointer;
  background: var(--accent-color-dark);
}

/*   .intro-about {
    display: flex;
    flex-direction:column-reverse;
    
    /* margin: 20px; */
  }
 */
  .header {
    flex-direction: column;
    align-items: center;
    row-gap: 35px;
    margin-bottom: 15px;
  }

  .first-heading {
    max-width: initial;
    padding: 0 20px;
    font-size: 34px;
  }

  .form {
    width: 100%;
  }

  .input,
  .btn {
    border-radius: 0;
  }
